.delivery{
  background: url("../images/delivery/bg.png") center/cover no-repeat;
  padding: 158px 0 264px;
  &__title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #272626;
    margin-bottom: 115px;
    text-align: left;
  }
  &__subtitle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: #272626;
  }
}